{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["import"],
  "extends": ["eslint:recommended","airbnb", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error",
    "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}]
  }
}