body {
  background-color: #3e606f;
  font-family: 'Bebas Neue', cursive;
  display: grid;
}

.header1 {
  background-color: #fcfff5;
  color: #193441;
  font-size: 30px;
  padding: 1em;
  border-radius: 0.5em;
  text-align: center;
}

.bttn,
.bttn1,
.bttn2 {
  background-color: #91aa9d;
  justify-content: space-between;
  color: #193441;
  text-align: center;
  padding: 32px 16px;
  border-radius: 8px;
  border: none;
  font-size: 70%;
  border: 2px solid #193441;
}

.bttn:hover {
  background-color: #d1dbbd;
  color: #fcfff5;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.canvas {
  padding: 0 5em 5em 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
